.navTitle {
    font-size: xx-small;
}

.navContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
} 

nav button {
    border: none;
    background-color: black;
    color: white;
    font-size: 35px;
    font-weight: 700;
}

.navBtns {
    font-size: 20px;
}

.main{
    padding: 10px 50px;
}

.mycard{
    min-width: 250px;
    max-width: 300px;
    height: 350px;
    background: linear-gradient(to right, #dbdde1, #b6bdc4);
    border-radius: 20px;
    box-shadow: 15px 15px 25px rgb(69, 67, 67);
    border: none;
    cursor: pointer;
}

.mycard img{
    height: 190px;
    border-radius: 20px;
    padding: 10px;
}

.card-title{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}

.cardsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.cardRow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}








/* RESPONSIVE DESIGN */

/* Mobile Devices */
@media (max-width: 768px) {

    .cardRow{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }

   
}

/* Small Mobile Screens */
@media (max-width: 480px) {
   
}

