{% extends "dashboard/base.html" %}

{% block content %}

<style>

    .content-section{
        border-radius: 20px;
    }

    .content-section a{
        color: blue;
    }

</style>

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h2 class="text-center mb-4">Wikipedia Search</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="query" id="wordInput" class="form-control" placeholder="Enter a anything to search...">
                    <button type="submit" class="btn btn-primary" onclick="searchWord()">Search</button>
                </div>
                <h5 align="center">(Please do not use any space )</h5>
            </form>

        </div>

    </div>

    {% if input %}
    
        <div class="content-section px-5 py-3">

            <div class="title">
                <h3 align="center">{{title}}</h3>
            </div>

            <a href={{link}}><h6 align="center">{{link}}</h6></a>


            <p align="justify">{{details}}</p>

        </div>

    {% else %}

        <div class="content-section p-5 mt-5">

            <h4 align="center">Your search results will appear here....</h4>

        </div>

    {% endif %}
    
</div>
{% endblock content %}